:root {
    --main: #505050; /* Neutral Gray */
    --main-light: #777777; /* Light Gray */
    --dark: #333333; /* Dark Gray */
    --dark-light: #444444; /* Slightly Lighter Gray */
    --white: #f0f0f0; /* Off-White */
    --grey: #999999; /* Medium Gray */
}
