body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    font-family: 'Parisienne', cursive;
}

.logo-container {
    margin-right: 10px;
}

.logo {
    width: 50px;
    height: 50px;
    filter: invert(100%);
}

.header-content {
    flex-grow: 1;
}

h1, h2 {
    margin: 0;
}



section {
    margin: 20px;
}

.galleria {
    max-width: 110%;
    min-height: 300px;
    height: auto;
    margin: 0 auto;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

/* .galleria {
    max-width: 700px;
    height: 400px;
    background: #000;
    margin: 0 auto;
} */


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    margin-bottom: 20px;  /* adjust as needed */
}



.social-media,
.email {
    margin: 10px;
}

.social-media a,
.email a {
    color: #fff;
    font-size: 24px;
}

.social-media a:hover,
.email a:hover {
    color: #ffcc00;
}
